@page
@model RGIS_WebApp.Pages.LeaderboardModel
@{
    ViewData["Title"] = "Leaderboard";
}
<h1>Your stats</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>Assists</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Matches</th>
            <th>KD Ratio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if(Model.loggedUser != null)
            {
                <td>@Model.loggedUser.Username</td>
                <td>@Model.loggedUser.Kills</td>
                <td>@Model.loggedUser.Deaths</td>
                <td>@Model.loggedUser.Assists</td>
                <td>@Model.loggedUser.Wins</td>
                <td>@Model.loggedUser.Losses</td>
                <td>@Model.loggedUser.Matches</td>
                <td>@Model.loggedUser.KDR</td>
                
            }
        </tr>
        
    
    </tbody>
</table>



